In [29]:
import pandas as pd 
import pyarrow.parquet as pq

In [43]:
import pandas as pd 
import pyarrow.parquet as pq
df_reviews_limpio = pd.read_csv('../data/df_reviews_limpio.csv')
df_reviews_limpio.to_parquet('../data/df_reviews_limpio_compr.parquet')

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [30]:
df_reviews = pd.read_csv('../data/dfreviewsOpen.csv')
df_reviews.shape

(59333, 10)

In [31]:
df_reviews.to_parquet('../data/dfreviewsOpen_compr.parquet')

In [32]:
df_reviews = pq.read_table('../data/dfreviewsOpen_compr.parquet').to_pandas()
df_reviews.shape

(59333, 10)

In [33]:
''' Ahora, eliminemos las filas del dataframe que poseen nulos en todas
las entradas'''
df_reviews = df_reviews.dropna(how='all')

In [34]:
df_reviews.shape

(59333, 10)

In [35]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59333 entries, 0 to 59332
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      59333 non-null  object
 1   user_url     59333 non-null  object
 2   funny        8151 non-null   object
 3   posted       59305 non-null  object
 4   last_edited  6140 non-null   object
 5   item_id      59305 non-null  float64
 6   helpful      59305 non-null  object
 7   recommend    59305 non-null  object
 8   review       59275 non-null  object
 9   0            0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 4.5+ MB

In [36]:
df_reviews = df_reviews.drop(['0'], axis=1)
df_reviews.shape

(59333, 9)

In [37]:
df_reviews.head(2)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,"Posted November 5, 2011.",None,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,"Posted July 15, 2011.",None,22200.0,No ratings yet,True,It's unique and worth a playthrough.

In [40]:
df_reviews[df_reviews['item_id'] == 282010.0]

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review
22815,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,None,Posted January 12.,None,282010.0,No ratings yet,True,"Oh, where do i start? DOS..."

In [41]:
df_reviews['item_id'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 59333 entries, 0 to 59332
Series name: item_id
Non-Null Count  Dtype
--------------  -----
59305 non-null  float64
dtypes: float64(1)
memory usage: 463.7 KB

In [42]:
df_steam_games.head(1)

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,None,"Posted November 5, 2011.",None,1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN